@font-face {
    font-family: "Grandeurs";
    src: url("fonts/grandeurs.otf") format("opentype");
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}


body {
background-image: url(fotos/pexels01.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.header{
  opacity: 0.96;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #151539;
  width: 100%;
  z-index: 100;
}

.logo{
  margin-left: 20px;
}

.logo a{
  font-family: "Grandeurs";
  color: #ce41f9;
  text-decoration: none;
  font-size: 50px;
}
.menu{
  display: flex;
  margin-right: 20px;
}

.menu a{
  display: block;
  padding: 10px;
  font-family: "Grandeurs";
  color: #ce41f9;
  text-decoration: none;
  font-size: 20px;
}

.logo a:hover{
  color: #E07AFE;
}

.menu a:hover{
  color: #E07AFE;
}

.contenedor-footer{
  opacity: 0.96;
  justify-content: space-between;
  display:flex;
  background-color: #151539;
  height: 250px;
  width: 100%;
  align-items: center;
}

.contacto{
  margin-left: 40px;
}

.contacto h1{
  margin-left: 128%;
  font-family: "Grandeurs";
  text-align: left;
  color: #ce41f9;
}

.contacto ul li{
  color: #ce41f9;
  margin: 30px;
  font-family: verdana;
  list-style: none;
  line-height:0;
}


.botones{
  margin-right: 10%;
  padding-top: 40px;
}

.botones li{
  list-style: none;
  line-height: 5ex;
}

.botones a{
  font-size: 15px;
  font-family: verdana;
  text-decoration: none;
  color: #ce41f9;
}

.botones a:hover{
  color: #E07AFE;
}

.contenedor-carrusel {
  width: 100%;
  margin: auto;
  overflow: hidden;
  max-width: 900px;
}

.carrusel {
  display: flex;
  width: 300%;
  height: 600px;
  transition: transform 0.05s ease;
}

.carrusel img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
