/* ESTRUCTURA PRINCIPAL */
html,
body {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  color: var(--txt-color);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font__base);
  font-size: var(--fsz__base);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
.app-wrapper {
  background-image: linear-gradient(
    to right bottom,
    #1e1e40,
    #242448,
    #292950,
    #2f2f58,
    #353560,
    #353560,
    #353560,
    #353560,
    #2f2f58,
    #292950,
    #242448,
    #1e1e40
  );
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-image: url('../fotos/pexels01.jpg'); */
  /* background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; */
}
main {
  flex: 1;
}
main > section {
  padding: 2em var(--sp__sides);
}
.app-wrapper {
  position: relative;
}
/* UTILIDADES */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.flex-col {
  flex-direction: column;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.pos-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hover {
  transition: var(--trans__off);
}
.hover:hover,
.hover:focus,
.hover:active {
  transition: var(--trans__on);
}
.hover__scale:hover,
.hover__scale:focus,
.hover__scale:active {
  transform: scale(1.2);
}
.hover__light:hover,
.hover__light:focus,
.hover__light:active {
  color: var(--txt-color--alt);
}
/* SVG */
.sprite {
  display: none;
}
.icon {
  display: block;
  position: relative;
  height: 0;
  width: 3rem;
  padding-top: 3rem;
}
.icon > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
