/* unidades relativas: em, rem, vh, vw, % */
/* unidades absolutas: px, cm, mm, pt, in */
main {
	color: antiquewhite;
}
/*
* HEADER
*/
html {
	scroll-behavior: smooth;
}

.logo {
	display: block; /* no cambiar */
}

.logo a {
	font-family: 'Grandeurs';
	color: var(--txt-color);
	text-decoration: none;
	font-size: 50px;
}

.logo a:hover {
	color: var(--txt-color--alt);
}

.menu a:hover {
	color: var(--txt-color--alt);
}
/* SLIDESHOW */
/* conservar este espacio para el codigo en slideshow.css */

/* GALERIA */
.btn {
	padding: 0.5em;
	display: inline-block;
	/* background: var(--color__primary); */
	/* box-shadow: 0 0 3px var(--color__shadow--dark), -1px -1px 5px var(--color__shadow--dark), -1px -1px 3px var(--color__shadow--light) inset; */
	/* color: var(--color__secondary); */
	transition: var(--transition__on);
	border-radius: 1rem;
}
.btn:hover {
	transform: scale(1.2);
	transition: var(--transition__off);
}
.cards-gallery {
	padding-top: 2em;
	flex-wrap: wrap;
}
.cards-gallery > article {
	position: relative;
	max-width: 250px;
	color: var(--txt-color--alt);
}
.cards-gallery > article button {
	color: var(--txt-color);
	position: absolute;
	right: 10px;
	bottom: 50px;
	border: 1px solid currentColor;
}
.cards-gallery > article button .icon {
	width: 4rem;
	padding-top: 4rem;
}
.card__title {
	padding: 0 0.2em;
	justify-content: space-between;
}
.card__title span {
	font-size: 1.2em;
	font-weight: 700;
}

.instrumentos {
	display: flex;
	position: relative;
	justify-content: stretch;
	gap: 2em;
	width: 100%;
	height: 400px;
}

.box {
	position: relative;
	color: var(--txt-color);
	width: 100%;
	display: block;
}

.box > h2 {
	position: absolute;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20%;
}
/*rehice footer*/

.contenedor-footer {
	/*display: none ;*/
	flex-direction: column;
	width: 100%;
	background-color: var(--bg-color);
	padding-top: 2em;
}

.contenedor-cajas{
	display: flex;
	flex-direction: column; 
	align-items: center;
	width: 100%;
	margin: auto;
}

.newsletter > h2{
	color: var(--txt-color);
	text-align: center;
}

.contenedor-submit{
	display: flex;
	max-width: 500px;
}

.contenedor-submit input{
	display: block;
	flex-direction: row;
	width: 350px;
	font-size: 13px;
	line-height: 20px;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #ededed;
	box-sizing: border-box;
	background: #ffffff;
}

.contenedor-submit button{
	bottom: 0;
	right: 0;
	background: #5e3fe9;
	color: #ffffff;
	height: 40px;
	font-weight: 500;
	line-height: 40px;
	font-size: 14px;
	padding: 0 25px;
	border-radius: 0 19px 19px 0;
}

.redes{
	flex-direction: row;
	justify-content: center;
	padding-top: 2em;
}

.redes > a {
	color: var(--txt-color);
}

.redes a:hover {
	color: var(--txt-color--alt);
}

.contenedor-contactomapa {
	display: flex;
	flex-direction: row;
	padding-top: 8em;
	padding-bottom: 3em;
	gap: 0.1em;
}

.contacto > h2 {
	text-align: center;
	font-family: 'Grandeurs';
	color: var(--txt-color);
}

.contacto ul li {
	flex-direction: row;
	justify-content: center;
	color: var(--txt-color);
	margin: 30px;
	font-family: verdana;
	list-style: none;
	line-height: 0;
}



.contenedor-carrousel {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.carrousel {
	display: flex;
	width: 300%;
	height: 600px;
	transition: transform 0.05s ease;
}

.carrousel img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.id {
	color: var(--txt-color);
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #5e3fe9;
}