/* unidades relativas: em, rem, vh, vw, % */
/* unidades absolutas: px, cm, mm, pt, in */
html,
body {
	width: 100vw;
	min-height: 100vh;
}

.main-container {
	width: 100%;
	height: 100%;
	background-image: url('../fotos/pexels01.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/*
* HEADER
*/
.header {
	/* margin: 5px 10px 20px 10px; top right bottom left sentido horario */
	padding: 1em var(--sp__sides);
	opacity: 0.96;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-color);
	width: 100%;
	z-index: 100;
}
.main-container > section {
	padding: 0 var(--sp__sides);
}
.logo {
	display: block; /* no cambiar */
}

.logo a {
	font-family: 'Grandeurs';
	color: var(--txt-color);
	text-decoration: none;
	font-size: 1.5em;
}
.menu {
	display: flex;
	margin-right: 20px;
}

.menu a {
	display: block;
	padding: 10px;
	font-family: 'Grandeurs';
	color: var(--txt-color);
	text-decoration: none;
	font-size: 20px;
}

.logo a:hover {
	color: var(--txt-color--alt);
}

.menu a:hover {
	color: var(--txt-color--alt);
}

.contenedor-footer {
	opacity: 0.96;
	justify-content: space-between;
	display: flex;
	background-color: var(--bg-color);
	height: 250px;
	width: 100%;
	align-items: center;
}

.contacto {
	margin-left: 40px;
}

.contacto h2 {
	font-family: 'Grandeurs';
	text-align: center;
	color: var(--txt-color);
}

.contacto ul li {
	color: var(--txt-color);
	margin: 30px;
	font-family: verdana;
	list-style: none;
	line-height: 0;
}

.botones {
	margin-right: 10%;
	padding-top: 40px;
}

.botones li {
	list-style: none;
}

.botones a {
	font-family: verdana;
	text-decoration: none;
	color: var(--txt-color);
}

.botones a:hover {
	color: var(--txt-color--alt);
}

.contenedor-carrousel {
	overflow: hidden;
}

.carrousel {
	display: flex;
	height: 600px;
}

.carrousel img {
	display: block;
	width: 100%;
	height: auto;
}
