/* unidades relativas: em, rem, vh, vw, % */
/* unidades absolutas: px, cm, mm, pt, in */
main {
	color: antiquewhite;
}
/*
* HEADER
*/
.logo {
	display: block; /* no cambiar */
}

.logo a {
	font-family: 'Grandeurs';
	color: var(--txt-color);
	text-decoration: none;
	font-size: 50px;
}

.logo a:hover {
	color: var(--txt-color--alt);
}

.menu a:hover {
	color: var(--txt-color--alt);
}
/* SLIDESHOW */
.slideshow {
	padding: 2em var(--sp__sides);
	height: 80vh;
	font-size: 1.5em;
}
.slideshow__btn {
	border-radius: 100%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6),
		2px 2px 5px rgba(255, 255, 255, 0.6) inset;
	padding: 0.5em;
}
.slideshow__btn:hover {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6) inset,
		-2px -2px 5px rgba(255, 255, 255, 0.6) inset;
}
.slideshow figure {
	position: relative;
	flex: 1;
	height: 100%;
	overflow: hidden;
}
.slideshow figure > img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.slideshow figcaption {
	position: relative;
	z-index: 10;
	padding: 2em;
	background: rgba(0, 0, 0, 0.6);
	border: 1px solid antiquewhite;
	border-radius: 10px;
	max-width: 60%;
	color: antiquewhite;
}
.slideshow figcaption p {
	padding: 1em 0;
}

.slideshow figcaption button {
	padding: 0.6em 1.4em;
	background: black;
	border: 1px solid antiquewhite;
	border-radius: 10px;
}

.instrumentos {
	display: flex;
	position: relative;
	justify-content: stretch;
	gap: 2em;
	background-color: var(--bg-color);
	width: 100%;
	height: 600px;
}

/* GALERIA */
.btn {
	padding: 0.5em;
	display: inline-block;
	/* background: var(--color__primary); */
	/* box-shadow: 0 0 3px var(--color__shadow--dark), -1px -1px 5px var(--color__shadow--dark), -1px -1px 3px var(--color__shadow--light) inset; */
	/* color: var(--color__secondary); */
	transition: var(--transition__on);
	border-radius: 1rem;
}
.btn:hover {
	transform: scale(1.2);
	transition: var(--transition__off);
}
.cards-gallery {
	padding-top: 2em;
	flex-wrap: wrap;
}
.cards-gallery > article {
	position: relative;
	max-width: 250px;
	color: var(--txt-color--alt);
}
.cards-gallery > article button {
	color: var(--txt-color);
	position: absolute;
	right: 10px;
	bottom: 50px;
	border: 1px solid currentColor;
}
.cards-gallery > article button .icon {
	width: 4rem;
	padding-top: 4rem;
}
.card__title {
	padding: 0 0.2em;
	justify-content: space-between;
}
.card__title span {
	font-size: 1.2em;
	font-weight: 700;
}

.box {
	position: relative;
	color: var(--txt-color);
	width: 32%;
	display: block;
}

.box > h2 {
	position: absolute;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	top: 10%;
}

.contenedor-footer {
	opacity: 0.96;
	justify-content: space-between;
	display: flex;
	background-color: var(--bg-color);
	width: 100%;
	align-items: center;
}

.contacto {
	margin-left: 40px;
}

.contacto h2 {
	font-family: 'Grandeurs';
	text-align: center;
	color: var(--txt-color);
}

.contacto ul li {
	color: var(--txt-color);
	margin: 30px;
	font-family: verdana;
	list-style: none;
	line-height: 0;
}

.botones {
	margin-right: 10%;
	padding-top: 40px;
}

.botones li {
	list-style: none;
}

.botones a {
	font-size: 15px;
	font-family: verdana;
	text-decoration: none;
	color: var(--txt-color);
}

.botones a:hover {
	color: var(--txt-color--alt);
}

.contenedor-carrousel {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.carrousel {
	display: flex;
	width: 300%;
	height: 600px;
	transition: transform 0.05s ease;
}

.carrousel img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.instrumentos {
	display: flex;
	justify-content: space-between;
	background-color: #151539;
	margin: 0.5em;
}