.parent {
	position: absolute;
	top: 0; /* si no funca */
	left: 0; /* si no funca */
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
